In [2]:
# Importing required Packages
import pandas as pd
import numpy as np
from scipy import stats


import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Load Data

In [5]:
house_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt', index_col='Unnamed: 0')

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1    1177.698      2           7        2            2         2  62000
2    2134.800      5           7        4            2         2  78000
3    1138.560      5           7        2            2         1  58000
4    1458.780      2           7        3            2         2  45000
5     967.776     11          14        3            2         2  45000
..        ...    ...         ...      ...          ...       ...    ...
644  1359.156      7          15        3            2         2  45000
645   377.148      4          10        1            1         1  24800
646   740.064     13          14        1            1         1  45000
647  1707.840      3          14        3            2         2  65000
648  1376.946      6           7        3            2         1  36000

[645 rows x 7 columns]

## Splitting Data into feature & target columns

## Splitting data(feature & target) into train & test

## Model building

## Predictions

## Accuracy

0.7600485507008433

# Assignment :

Take iris data and build a KNN Classification Model.

In [16]:
from sklearn.datasets import load_iris
iris = load_iris()